<h1>Games::Play#index</h1>
<canvas class="border-2" width="<%= Game::HEIGHT %>" height="<%= Game::WIDTH %>" id="canvas" data-controller="snake" data-game-id="<%= @game.id %>" data-game-person-id="<%= @game_person.id %>"></canvas>